<% if(page.content){ %>
  <%- page.content %>
<% } else { %>
  <section class="content-section content-width">
    <main>
      <%- partial('_partial/archive-home', {pagination: config.archive, index: true}) %>
    </main>

    <%- partial('_partial/sidebar') %>
  </section>
<% } %>
