// Content Post
.content-post {
  p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: .8rem;
  }

  h2 {
    font-size: 26px;
    margin-bottom: .5rem;
  }

  h3 {
    font-size: 21px;
    margin-bottom: .5rem;
  }

  h4 {
    font-size: 19px;
    margin-bottom: .5rem;
  }

  ul {
    margin-left: 40px;

    li {
      list-style-type: initial;
    }
  }
}

.img {
  margin-bottom: 20px;
  text-align: center;

  img {
    max-width: 100%;
  }
}

code {
  background-color: #e9e9e9;
  border-radius: 2px;
  padding: 3px;
}

pre {
  code {
    font-size: .9rem;
    margin-bottom: .8rem;
  }

  .terminal {
    color: #00ff00;
  }
}
