<% if (site.categories.length) { %>
  <ul>
    <% site.categories.sort('name').forEach(function(cat) { %>
      <li>
        <i class="fa fa-angle-right" aria-hidden="true"></i>

        <a href="<%= url_for(cat.path) %>">
          <%= cat.name %>
          <i class="fa fa-circle" aria-hidden="true"></i>
          <%= cat.length %>
        </a>
      </li>
    <% }); %>
  </ul>
<% } %>
