<% if (site.tags.length){ %>
  <ul>
    <% site.tags.forEach(function(tag){ %>
      <li>
        <a href="<%= url_for(tag.path) %>"><i></i><%= tag.name %></a>
      </li>
    <% }); %>
  </ul>
<% } %>
