<% if (site.tags.length) { %>
  <ul>
    <% site.tags.forEach(function(tag) { %>
      <li>
        <a href="<%= url_for(tag.path) %>">
          <i class="fa fa-tag" aria-hidden="true"></i>
          <%= tag.name %>
        </a>
      </li>
    <% }); %>
  </ul>
<% } %>
