<% page.posts.each(function(post, i){ %>
  <%- partial('archive-post', {post: post, even: i % 2 == 0, index: index}) %>
<% }) %>

<footer>
  <% if (page.posts.length){ %>
    <div class="pagination">
      <%- paginator({
        prev_text: 'Anterior',
        next_text: 'Próximo'
        }) %>
    </div>
  <% } %>
</footer>
