<% page.posts.each(function(post, i){ %>
  <%- partial('article', {post: post, even: i % 2 == 0, index: index}) %>

  <hr class="post-separator">
<% }) %>

<% if (!is_archive()) { %>
  <footer>
    <% if (page.posts.length){ %>
      <div class="pagination">
        <%- paginator({
          prev_text: 'Anterior',
          next_text: 'Próximo'
          }) %>
      </div>
    <% } %>
  </footer>
<% } %>
