<article>
  <header class="header-post">
    <%- partial('post/title') %>
    <ul>
      <li>
        <i></i>
        <%- partial('post/date') %>
      </li>
      <li>
        <i></i>
        <%- partial('post/tag') %>
      </li>
    </ul>
  </header>

  <% if (!is_archive()) { %>
    <div class="content-post">
      <%- post.content %>
    </div>

    <% if (post.comments && theme.disqus_shortname) { %>
      <footer id="comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </footer>
    <% } %>
  <% } %>
</article>
