<footer class="footer">
  <div>
    &copy; <%= date(new Date(), 'YYYY') %> Ramon Santos.
    <br>
    <!-- TODO #8 -->
    Desenvolvido com <i class="fa fa-heart"></i> + Hexo + <i class="fa fa-coffee"></i>.
  </div>
</footer>
