<footer class="footer">
  <div>
    &copy; <%= date(new Date(), 'YYYY') %> Ramon Santos.
    <br>
    Desenvolvido com <i class="fa fa-heart"></i> + <a href="https://hexo.io/" target="_blank">Hexo</a> + <i class="fa fa-coffee"></i>.
  </div>
</footer>
