<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
    var title = page.title;
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.ico">

  <!-- TODO #1 -->

  <!-- TODO #2 -->

  <!-- TODO #3 -->

  <!-- TODO #8 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
