<!-- Only Mobile -->
<aside id="mobileMenu" class="mobile-menu mobile-menu-hidden">
  <a id="menuClose" class="menu-close-btn" href="javascript:void(0);"><i class="fa fa-close" aria-hidden="true"></i></a>

  <!-- Menu -->
  <nav class="page-links">
    <ul>
      <% for (var i in theme.menu){ %>
        <li>
          <a  href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </nav>
</aside>
