<!-- Only Desktop -->
<aside class="sidebar-section">
  <div class="category-subsection">
    <h2>Categorias</h2>
    <%- partial('_partial/_widget/category') %>
  </div>

  <div>
    <h2>Tags</h2>
    <%- partial('_partial/_widget/tag') %>
  </div>
<aside>
