<!-- Only Desktop -->
<aside>
  <nav>
    <h2>Categorias</h2>
    <%- partial('_partial/_widget/category') %>
  </nav>

  <nav>
    <h2>Tags</h2>
    <%- partial('_partial/_widget/tag') %>
  </nav>
<aside>
