---
layout: default
---

<main class="main-section">
  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <article>
        <header class="header-post">
          <h1>
            <a href="{{ post.url | escape }}">{{ post.title | escape }}</a>
          </h1>

          <ul>
            <li>
              <i></i>
              <i class="fa fa-calendar"></i>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }}</time>
            </li>

            {% if post.tags.size > 0 %}
              <li>
                <i></i>
                <i class="fa fa-tags"></i>

                {% assign tag_names = post.tags %}
                {% assign tag_array = "" | split: "/" %}

                {% for tag_name in tag_names %}
                  {% capture link %}<a href="/tags/{{ tag_name | slugify }}/" title="{{ tag_name }}">{{ tag_name }}</a>{% endcapture %}
                  {% assign tag_array = tag_array | push: link %}
                {% endfor %}

                {{ tag_array | join: ', ' }}
              </li>
            {% endif %}
          </ul>
        </header>
      </article>

      <hr class="post-separator">
    {%- endfor -%}
  {%- endif -%}
</main>

{%- include sidebar.html -%}
