/* Content */
.content-section {
  display: flex;
  padding: 90px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-section {
  width: 100%;
}

@media (min-width: $breakpoint-content-section) {
  .main-section {
    width: 75%;
    margin-right: 10px;
  }
}

.header-post {
  font-size: 15px;
  margin-bottom: 25px;

  h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  ul {
    display: inline-flex;
  }

  li {
    margin-right: 10px;
  }

  i {
    color: $principal-color;
  }
}

.pagination {
  font-size: 1rem;
  margin-bottom: 20px;

  a, span {
    margin-right: 6px;
    border-radius: 21px;
    padding: 6px 13px 6px 13px;
    color: $text-color;
  }

  .current {
    background: $principal-color;
    color: white;
    font-weight: bold;
  }

  a:hover {
    background: $border-bottom-color;
    color: $principal-color;
    text-decoration: none;
  }
}

.post-separator {
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid $border-bottom-color;
}
