/* Global */
body {
  font-family: 'Open Sans', sans-serif;
  color: #3e4d5c;
}

pre {
  overflow: auto;
}

a {
  color: $principal-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
