/* Header */
.header {
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 3px #ddd;
  margin-bottom: 25px;
  position: fixed;
  z-index: 1;
}

.header-content {
  position: relative;
  padding: 0px 15px 0px 15px;
  margin-right: auto;
  margin-left: auto;
  h1 {
    display: inline;
    font-size: 2.0rem;
    width: auto;
  }
}

.site-logo {
  float: left;
  padding: 10px 0px 10px 0px;
}
