/* Sidebar */
.sidebar-section {
  display: none;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ul {
    margin-left: 10px;
  }

  a {
    display: inline-flex;
    color: $text-color;
  }

  a:hover {
    color: $principal-color;
  }
}

@media (min-width: $breakpoint-content-section) {
  .sidebar-section {
    display: block;
    width: 25%;
    margin-left: 10px;
  }
}

.category-subsection {
  margin-bottom: 20px;

  li {
    border-bottom: 1px solid $border-bottom-color;
    padding: 7px 0px 7px 0px;
    font-size: 17px;
  }

  a {
    padding: 5px 5px 5px 5px;
    text-decoration: none;

    i {
      font-size: 6px;
      padding-top: 10px;
      padding-left: 6px;
      padding-right: 6px;
    }
  }
}

.tags-subsection {
  margin-bottom: 20px;

  li {
    display: inline-flex;
    padding: 5px 5px 5px;
  }

  i {
    padding-right: 5px;
    color: $principal-color;
    padding-top: 4px;
  }

  a {
    padding: 5px 9px 5px 9px;
  }

  a:hover {
    background: #eee;
    text-decoration: none;
    border-radius: 16px;
  }
}
