/* Sidebar */
.sidebar-section {
  width: 25%;
  margin-left: 10px;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  ul {
    margin-left: 10px;
  }

  a {
    display: inline-flex;
    margin-left: 5px;
    color: $text-color;
    padding: 5px 5px 5px 5px;
  }

  a:hover {
    color: $principal-color;
  }
}

.category-subsection {
  margin-bottom: 20px;

  li {
    border-bottom: 1px solid $border-bottom-color;
    padding: 7px 0px 7px 0px;
    font-size: 17px;
  }
}

.tags-subsection {
  margin-bottom: 20px;

  li {
    display: inline-flex;
    padding: 5px 5px 5px;
  }

  i {
    padding-right: 5px;
    color: $principal-color;
  }

  a:hover {
    background: #eee;
    text-decoration: none;
    border-radius: 16px;
  }
}
